<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Fnatic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-list>
  <ion-item>
    <ion-label>
      Oscarinin
    </ion-label>
  </ion-item>
 </ion-list>

 <ion-list>
  <ion-item>
    <ion-label>
      Razork
    </ion-label>
  </ion-item>
 </ion-list>

 <ion-list>
  <ion-item>
    <ion-label>
      Humanoid
    </ion-label>
  </ion-item>
 </ion-list>

 <ion-list>
  <ion-item>
    <ion-label>
      Noah
    </ion-label>
  </ion-item>
 </ion-list>

 <ion-list>
  <ion-item>
    <ion-label>
      Jun
    </ion-label>
  </ion-item>
 </ion-list>
</ion-content>
