<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>G2 Esports</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>
        Mikyx
      </ion-label>
    </ion-item>
   </ion-list>
  
   <ion-list>
    <ion-item>
      <ion-label>
        Hans Sama
      </ion-label>
    </ion-item>
   </ion-list>
  
   <ion-list>
    <ion-item>
      <ion-label>
        Caps
      </ion-label>
    </ion-item>
   </ion-list>
  
   <ion-list>
    <ion-item>
      <ion-label>
        Yike
      </ion-label>
    </ion-item>
   </ion-list>
  
   <ion-list>
    <ion-item>
      <ion-label>
        Broken Blade
      </ion-label>
    </ion-item>
   </ion-list>
</ion-content>
