<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>T1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>
        Faker
      </ion-label>
    </ion-item>
   </ion-list>
  
   <ion-list>
    <ion-item>
      <ion-label>
        Keria
      </ion-label>
    </ion-item>
   </ion-list>
  
   <ion-list>
    <ion-item>
      <ion-label>
        Teddy
      </ion-label>
    </ion-item>
   </ion-list>
  
   <ion-list>
    <ion-item>
      <ion-label>
        Oner
      </ion-label>
    </ion-item>
   </ion-list>
  
   <ion-list>
    <ion-item>
      <ion-label>
        Gumayusi
      </ion-label>
    </ion-item>
   </ion-list>
</ion-content>
