<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Equipos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item routerLink="/jugadores">
      <ion-avatar slot="start">
        <img src="../../assets/logos/fnatic.webp">
      </ion-avatar>
      <ion-label>Fnatic</ion-label>
    </ion-item>

    <ion-item routerLink="/jugadores2">
      <ion-avatar slot="start">
        <img src="../../assets/logos/g2.png">
      </ion-avatar>
      <ion-label>G2 Esports</ion-label>
    </ion-item>

    <ion-item routerLink="/jugadores3">
      <ion-avatar slot="start">
        <img src="../../assets/logos/teamliquid.png">
      </ion-avatar>
      <ion-label>Team Liquid</ion-label>
    </ion-item>

    <ion-item routerLink="/jugadores4">
      <ion-avatar slot="start">
        <img src="../../assets/logos/skt.png">
      </ion-avatar>
      <ion-label>T1</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
